* {
   margin: 0px;
   padding: 0px;
}

html, body {
   height: 100%;

}

body {
   background: url(../assets/sky.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'PT Sans', sans-serif;
}

.info, .sign-up {
   margin-top: 15%;
   color: #4c4c4c;
}

.info h1 {
   font-weight: bold;
   font-size: 45px;
}

.forms-container {
   padding: 20px 20px 25px 20px;
   border: 1px solid #eaeaea;
   background-color: #fff;
   border-radius: 7px;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   margin-bottom: 30px;
}

.form-control:focus {
  /* border-color: #FF0000; */
  border-width: 1px;
  box-shadow: none;
}

/* .btn-block:focus, .btn-block:active, btn-block:visited {
   border: none!important;
   outline: none!important;
} */

.password-cont {
   margin-bottom: .5rem;
}

.sign-in-err {
   margin-bottom: .5rem;
   color: red;
   text-align: left;
}

#sign-up {
   display: none;
}

#sign-in h2, #sign-up h2 {
   margin-top: 10px;
   margin-bottom: 20px;
}

.form-title {
   text-align: center;
   font-weight: bold;
}
