* {
   margin: 0px;
   padding: 0px;
}

html, body {
   height: 100%;

}

body {
   background: url(../assets/sky.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'PT Sans', sans-serif;
}

.info, .sign-up {
   margin-top: 15%;
   color: #585858;
}

.info h1 {
   font-weight: bold;
   font-size: 45px;
}

.sign-up-form {
   padding: 20px 20px 40px 20px;
   border: 1px solid #eaeaea;
   background-color: #fff;
   border-radius: 7px;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   margin-bottom: 30px;
}
