{% extends "main_layout.html" %}

{% block header %}
   <script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker.min.css') }}" />
   <style>
   body {background-color: #fbfbfb; }
   .border-top { border-top: 1px solid #e5e5e5; }
   .border-bottom { border-bottom: 1px solid #e5e5e5; }
   .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
   #v-pills-tab {
      border: 1px solid rgba(0,0,0,.125);
      border-bottom: none;
      transition: all 0.3s ease;
      border-radius: 4px;
      /* box-shadow: 0 2px 24px rgba(0, 0, 0, 0.1); */
   }
   #v-pills-tab .main-link {
      border-radius: 0!important;
      padding: 13px 20px;
      border-bottom: 1px solid #eaeaea;
   }
   #v-pills-tab .main-link.active {
      font-weight: bold;
      border-left: 4px solid #095b90;
      padding-left: 16px;
      border-bottom: none!important;
   }
   #manage-clients .nav-item {
      border-radius: 0!important;
      background-color: transparent;
      color: #0093f3;
      border-bottom: 2px solid #dadada;
   }
   #manage-clients .nav-link.active {
      background-color: transparent;
      font-weight: bold;
      color: #0093f3;
      border-bottom: 2px solid #0093f3;
   }
   .title {
      margin: 24px auto;
      text-align: center;
   }
   .swal-button--confirm {
     background-color: #007bff;
   }
   .form-control:focus {
     /* border-color: #FF0000; */
     border-width: 1px;
     box-shadow: none;
   }
   .sign-in-err, .validationMessage, .username-err, .match-pass-err, .pass-err {
      margin-bottom: .5rem;
      color: red;
      font-size: 14px;
      text-align: left;
   }
   @media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
    .dl-horizontal dd {
      margin-left: 180px;
    }
  }
  .dl-horizontal dt {
      float: left;
      width: 160px;
      clear: left;
      font-size: 18px;
      text-align: right;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .dl-horizontal dd {
      margin-left: 180px;
      font-size: 18px;
    }
    .message {
      padding: 20px;
      color: white;
      font-size: 15px;
      width: 350px;
      border-radius: 15px;
      margin-bottom: 20px;
    }
    .message-client {
      background-color: #1d8cde;
    }
    .message-admin {
      background-color: #4765da;
    }
    .message p {
      margin-bottom: 0px;
    }
    .message-wrapper {
      display: flow-root;
    }

   </style>
{% endblock %}

{% block content %}

<div class="d-flex flex-column admin-nav flex-md-row align-items-center p-3 px-md-4 mb-5 bg-white border-bottom box-shadow">
 <h5 class="my-0 mr-md-auto font-weight-normal">Feature Request App</h5>
 <h5 class="my-0 mr-md-auto text-center">Admin Dashboard</h5>
 <nav class="my-2 my-md-0 mr-md-3">
   <a class="p-2 text-dark">{{ current_user.first_name + ' ' + current_user.last_name }}</a>
 </nav>
 <a id="logout" class="btn btn-outline-primary" href="#">Logout</a>
</div>

<div class="container">
   <div class="row">
      <div class="col-md-3">
         <!-- Admin Menu -->
         <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
           <a class="nav-link main-link active" data-toggle="pill" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
           <a class="nav-link main-link main-feature-requests" data-toggle="pill" href="#feature-requests" role="tab" aria-controls="feature-requests" aria-selected="false">Main Feature Requests</a>
           <a class="nav-link main-link feature-requests-link" data-toggle="pill" href="#clients-requests" role="tab" aria-controls="clients-requests" aria-selected="false">Clients Requests</a>
           <a class="nav-link main-link manage-clients-link" data-toggle="pill" href="#manage-clients" role="tab" aria-controls="manage-clients" aria-selected="false">Manage Clients</a>
           <a class="nav-link main-link manage-admins-link" data-toggle="pill" href="#manage-admins" role="tab" aria-controls="manage-admins" aria-selected="false">Manage Admins</a>
           <a data-publicId="{{ current_user.public_id }}" class="nav-link main-link profile-link" data-toggle="pill" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
        </div>
     </div>

      <div class="col-md-9">
         <div class="tab-content" id="v-pills-tabContent">
            <!-- Overview Panel  -->
            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">overview</div>

            <!-- Feature Requests -->
            <div class="tab-pane fade" id="feature-requests" role="tabpanel" aria-labelledby="feature-requests-s">
              <div class="row mb-4">
                <div class="col text-right">
                  <button type="button" id="add-approved-feature-request" data-toggle="modal" data-target="#add-approved-feature-request-modal" class="btn btn-primary">+ Add Feature Request</button>
                </div>
                <!-- Add new feature Modal -->
                <div class="modal fade" id="add-approved-feature-request-modal" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add new feature request</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                         <form id="add-approved-feature-request-form">
                            <div class="form-group">
                              <label for="subject-input">Title: </label>
                              <input type="text" placeholder="Short descriptive name" data-bind="textInput: title" id="title-input" class="form-control">
                            </div>
                            <div class="form-group">
                              <label for="description-input">Description: </label>
                               <textarea class="form-control" data-bind="textInput: description" placeholder="Details about this feature request" id="description-input" rows="3"></textarea>
                            </div>

                            <div class="form-group">
                              <label for="client-input">Clients: </label>
                              <select class="custom-select" data-bind='options: clientsSelection, optionsValue: "publicId", optionsText: "fullNameCompany", optionsCaption: "Please select a client", value: clientSelect' ></select>
                            </div>

                            <div class="form-group">
                              <label for="client-priority">Client Priority:</label>
                              <input type="number" data-bind="textInput: clientPriority"  placeholder="Number" id="client-priority-input" class="form-control">
                            </div>

                            <div class="form-group date">
                              <label for="client-priority">Target Date: </label>
                              <input type="text" data-bind="textInput: targetDate" value="Choose date" class="form-control">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>

                            <div class="form-group">
                              <label for="client-input">Product Area: </label>
                              <select class="custom-select" data-bind='options: areaSelection, optionsValue: "areaName", optionsText: "areaName", optionsCaption: "Choose the area", value: areaSelect' ></select>
                            </div>

                            <div class="modal-footer" style="padding: 10px 0 0 0;">
                               <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                               <button type="submit" data-bind="click: submit" class="btn btn-primary">Submit</button>
                            </div>
                         </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>

            <!-- Clients Requests -->
            <div class="tab-pane fade" id="clients-requests" role="tabpanel" aria-labelledby="clients-requests">
              <div class="row">
                <div class="col">
                  <h4 class="title feature-clients-title"></h4>
                  <div class="col client-feature-requests-cont"></div>
                </div>
              </div>
            </div>

            <!-- Manage Clients -->
            <div class="tab-pane fade" id="manage-clients" role="tabpanel" aria-labelledby="manage-clients">
               <nav class="nav manage-clients nav-pills nav-justified">
                 <a class="nav-item nav-link pending-clients-link active" data-toggle="pill" role="tab" href="#pending-clients">Pending Clients</a>
                 <a class="nav-item nav-link active-clients-link" data-toggle="pill" role="tab" href="#active-clients">Active Clients</a>
               </nav>
               <div class="tab-content">
                  <div class="tab-pane fade show active" id="pending-clients" role="tabpanel" aria-labelledby="manage-admins">
                     <h4 class="title pending-clients-title">Pending Clients Table</h4>
                     <div class="table-responsive">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th scope="col">First Name</th>
                              <th scope="col">Last Name</th>
                              <th scope="col">Username</th>
                              <th scope="col">Email Address</th>
                              <th scope="col">Company</th>
                              <th scope="col">Action</th>
                            </tr>
                          </thead>
                          <tbody class="pending-clients-table">
                          </tbody>
                        </table>
                     </div>
                  </div>
                  <div class="tab-pane fade" id="active-clients" role="tabpanel" aria-labelledby="active-admins">
                     <div class="table-responsive">
                        <h4 class="title active-clients-title">Active Clients Table</h4>
                        <table class="table table-hover mt-4">
                          <thead>
                            <tr>
                              <th scope="col">First Name</th>
                              <th scope="col">Last Name</th>
                              <th scope="col">Username</th>
                              <th scope="col">Email Address</th>
                              <th scope="col">Company</th>
                            </tr>
                          </thead>
                          <tbody class="active-clients-table">
                          </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>

            <!-- Manage Admins -->
            <div class="tab-pane fade" id="manage-admins" role="tabpanel" aria-labelledby="manage-admins">
               <div class="row">
                  <div class="col-md-9">
                     <h4 class="title">Admins Table</h4>
                  </div>
                  <div class="col-md-3 text-center">
                     <button type="button" data-toggle="modal" data-target="#add-admin" class="btn title btn-dark btn-sm">+ Add New Admin</button>
                  </div>
                </div>
                <!-- Add new admin Modal -->
                <div class="modal fade" id="add-admin" tabindex="-1" role="dialog" aria-hidden="true">
                   <div class="modal-dialog" role="document">
                       <div class="modal-content">
                           <div class="modal-header">
                             <h5 class="modal-title" id="exampleModalLabel">Add New Admin</h5>
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                             </button>
                           </div>
                           <div class="modal-body">
                              <form id="admin-form">
                                 <div class="form-group">
                                    <input type="text" placeholder="First Name" data-bind="textInput: firstName" class="form-control" id="first-name">
                                 </div>
                                 <div class="form-group">
                                    <input type="text" placeholder="Last Name" data-bind="textInput: lastName" class="form-control" id="last-name">
                                 </div>
                                 <div class="form-group">
                                    <input type="text" placeholder="Username" data-bind="textInput: username" class="form-control" id="username-admin">
                                    <div class="username-err"></div>
                                 </div>
                                 <div class="form-group">
                                    <input type="email" placeholder="Email Address" data-bind="textInput: emailAddress" class="form-control" id="email-address">
                                 </div>
                                 <div class="form-group">
                                    <input type="text" placeholder="Company" data-bind="textInput: company" class="form-control" id="company">
                                 </div>
                                 <div class="form-group">
                                    <input type="password" placeholder="Password" data-bind="textInput: password" class="form-control" id="sign-up-password">
                                 </div>
                                 <div class="form-group">
                                    <input type="password" placeholder="Repeat Password" data-bind="textInput: confirmPassword" class="form-control" id="sign-up-confirm-password">
                                    <div class="match-pass-err"></div>
                                 </div>
                                 <div class="modal-footer" style="padding: 10px 0 0 0;">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button type="submit" data-bind="click: submit" class="btn btn-primary">Submit</button>
                                 </div>
                              </form>
                           </div>
                       </div>
                   </div>
                 </div>

               <!-- Admin Table -->
               <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Company</th>
                      </tr>
                    </thead>
                    <tbody class="admin-table">
                    </tbody>
                  </table>
               </div>
            </div>

            <!-- Profile -->
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile">
              <h4 style="margin-bottom: 0px" class="title">Profile</h4>
              <hr/>
              <div class="col-md-8 offset-md-3">
                <dl class="dl-horizontal">
                  <dt>First Name:</dt>
                  <dd id="p-first-name"></dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt>Last Name:</dt>
                  <dd id="p-last-name"></dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt>Username:</dt>
                  <dd id="p-username"></dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt>Email Address:</dt>
                  <dd id="p-email"></dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt>Company:</dt>
                  <dd id="p-company"></dd>
                </dl>
              </div>
              <div class="col-md-6 offset-md-3">
                <button type="button" id="edit-profile-link" data-toggle="modal" data-target="#edit-profile-modal" class="btn btn-sm btn-block btn-primary">Edit Profile</button>
                <button type="button" data-toggle="modal" data-target="#change-password-modal" class="btn btn-sm btn-block btn-secondary">Change Password</button>
              </div>

              <!-- Edit Profile Modal -->
              <div class="modal fade" id="edit-profile-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                       <form id="edit-profile">
                          <div class="form-group">
                            <label for="firstName-input">First Name: </label>
                            <input type="text" data-bind="textInput: firstName" class="form-control" id="firstName-input">
                          </div>
                          <div class="form-group">
                            <label for="lastName-input">Last Name: </label>
                             <input type="text" data-bind="textInput: lastName" class="form-control" id="lastName-input">
                          </div>
                          <div class="form-group">
                            <label for="emailAddress-input">Email Address: </label>
                             <input type="email" data-bind="textInput: emailAddress" id="emailAddress-input" class="form-control">
                          </div>
                          <div class="form-group">
                            <label for="company-input">Company: </label>
                             <input type="text" data-bind="textInput: company" class="form-control" id="company-input">
                          </div>
                          <div class="modal-footer" style="padding: 10px 0 0 0;">
                             <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                             <button type="submit" data-bind="click: submit" class="btn btn-primary">Update Profile</button>
                          </div>
                       </form>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Change Password Modal -->
              <div class="modal fade" id="change-password-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                       <form id="change-password-form">
                          <div class="form-group">
                            <label for="firstName-input">Current Password: </label>
                            <input id="current-password" type="password" data-bind="textInput: currentPassword" class="form-control">
                            <div class="pass-err"></div>
                          </div>
                          <div class="form-group">
                            <label for="lastName-input">New Password: </label>
                             <input type="password" data-bind="textInput: newPassword" class="form-control">
                          </div>
                          <div class="form-group">
                            <label>Repeat New Password: </label>
                             <input type="password" data-bind="textInput: confirmNewPassword" class="form-control">
                          </div>
                          <div class="modal-footer" style="padding: 10px 0 0 0;">
                             <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                             <button type="submit" data-bind="click: submit" class="btn btn-primary">Update Password</button>
                          </div>
                       </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
         </div>
      </div>
   </div>
</div>

   <script>
      // $(".se-pre-con").delay(3000).fadeOut('slow');
      $('#logout').click(function() {
            localStorage.removeItem('token');
            window.location.href = '/';
         });
   </script>
   <script src="{{ url_for('static', filename='js/manage-clients.js') }}"></script>
   <script src="{{ url_for('static', filename='js/manage-admins.js') }}"></script>
   <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
   <script src="{{ url_for('static', filename='js/admin_clients_requests.js') }}"></script>
   <script src="{{ url_for('static', filename='js/admin_main_feature_requests.js') }}"></script>
{% endblock %}
