{% extends "main_layout.html" %}

{% block content %}
   <div class="container">
      <div class="row">
         <div class="col-md-5 info">
            <h1 class="title">Request Feature App</h1><br/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consectetur, elit in blandit cursus, lacus dui egestas odio, vel vehicula mauris lectus eget diam. Nam leo est, scelerisque ut massa nec, bibendum vestibulum augue. Etiam non consectetur enim. Duis ultrices non mi at commodo. </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consectetur, elit in blandit cursus, lacus dui egestas odio, vel vehicula mauris lectus eget diam. Nam leo est, scelerisque ut massa nec, bibendum vestibulum augue. Etiam non consectetur enim. Duis ultrices non mi at commodo. </p>
      </div>
         <div class="col-md-4 col-md-offset-2 sign-up">
            <form class="sign-up-form">
              <div class="form-group">
                 <h2>Sign in: </h2>
                <label for="username-email">Username or Email address</label>
                <input type="text" class="form-control" id="username-email" placeholder="Username or Email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-info">Sign in</button>
            </form>
         </div>
      </div>
   </div>
{% endblock %}
