{% extends "main_layout.html" %}

{% block content %}
   <div class="container">
      <div class="row">
         <div class="col-md-5 offset-md-1 info">
            <h1 class="title">Request Feature App</h1><br/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consectetur, elit in blandit cursus, lacus dui egestas odio, vel vehicula mauris lectus eget diam. Nam leo est, scelerisque ut massa nec, bibendum vestibulum augue. Etiam non consectetur enim. Duis ultrices non mi at commodo. </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consectetur, elit in blandit cursus, lacus dui egestas odio, vel vehicula mauris lectus eget diam. Nam leo est, scelerisque ut massa nec, bibendum vestibulum augue. Etiam non consectetur enim. Duis ultrices non mi at commodo. </p>
      </div>
         <div class="col-md-4 offset-md-1 sign-up">
            <div class="forms-container">
               <form id="sign-in">
                  <h2 class="form-title">Sign in</h2>
                  <div class="form-group">
                     <input required type="text" placeholder="Username or Email address" data-bind="textInput: username_email" class="form-control" id="username-email">
                  </div>
                  <div class="form-group password-cont">
                     <input required type="password" data-bind="textInput: password" placeholder="Password" class="form-control" id="password">
                  </div>
                  <div class="sign-in-err"></div>
                  <button type="button" data-bind="click: submit" class="btn btn-block btn-primary">Sign in</button>
                  <button type="button" id="sign-up-btn" class="btn btn-block btn-link">Sign up here</button>
               </form>

               <form id="sign-up">
                  <h2 class="form-title">Sign up</h2>
                  <div class="form-group">
                     <input type="text" placeholder="First Name" class="form-control" name="first_name" id="first-name">
                  </div>
                  <div class="form-group">
                     <input type="text" placeholder="Last Name" class="form-control" name="last_name" id="last-name">
                  </div>
                  <div class="form-group">
                     <input type="text" placeholder="Username" class="form-control" name="username" id="username">
                  </div>
                  <div class="form-group">
                     <input type="email" placeholder="Email Address" class="form-control" name="email_address" id="email-address">
                  </div>
                  <div class="form-group">
                     <input type="text" placeholder="Company" class="form-control" name="comapany" id="company">
                  </div>
                  <div class="form-group">
                     <input type="password" placeholder="Password" class="form-control" name="password" id="sign-up-password">
                  </div>
                  <div class="form-group">
                     <input type="password" placeholder="Repeat Password" class="form-control" name="confirm-password" id="sign-up-confirm-password">
                  </div>
                  <button type="submit" class="btn btn-block btn-primary">Sign up</button>
                  <button type="button" id="sign-in-btn" class="btn btn-block btn-link">Sign in here</button>
               </form>
            </div>
         </div>
      </div>
   </div>
{% endblock %}
