{% extends "main_layout.html" %}

{% block header %}
   <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
   <div class="container">
      <div class="row">
         <div class="col-md-5 offset-md-1 info">
            <h1 class="title">Welcome to IWS Feature Request App</h1><br/>
            <p class="lead">The main objective of this app is to ease the way of sending and managing feature requests on IWS, between clients and employees.</p>
            <hr  />
            <p>If you are client of IWS, click on the link <b>Sign up here</b> on the right side, register by filling out the fields, and wait until IWS staff approve you as client. Once approved you can sign in, send your feature requests and correspond with messages with staff of IWS for your requests.</p>
      </div>
         <div class="col-md-4 offset-md-1 sign-up">
            <div class="forms-container">
               <form id="sign-in">
                  <h2 class="form-title">Sign in</h2>
                  <div class="form-group">
                     <input required type="text" autofocus placeholder="Username or Email address" data-bind="textInput: username_email" class="form-control" id="username-email">
                  </div>
                  <div class="form-group password-cont">
                     <input required type="password" data-bind="textInput: password" placeholder="Password" class="form-control" id="password">
                  </div>
                  <div class="sign-in-err"></div>
                  <button type="button" data-bind="click: submit" class="btn sign-in-button btn-block btn-primary">Sign in</button>
                  <button type="button" id="sign-up-btn" class="btn btn-block btn-link">Sign up here</button>
               </form>
               <form id="sign-up">
                  <h2 class="form-title">Sign up</h2>
                  <div class="form-group">
                     <input type="text" placeholder="First Name" data-bind="textInput: firstName" class="form-control" id="first-name">
                  </div>
                  <div class="form-group">
                     <input type="text" placeholder="Last Name" data-bind="textInput: lastName" class="form-control" id="last-name">
                  </div>
                  <div class="form-group">
                     <input type="text" placeholder="Username" data-bind="textInput: username" class="form-control" id="username">
                     <div class="username-err"></div>
                  </div>
                  <div class="form-group">
                     <input type="email" placeholder="Email Address" data-bind="textInput: emailAddress" class="form-control" id="email-address">
                  </div>
                  <div class="form-group">
                     <input type="text" placeholder="Company" data-bind="textInput: company" class="form-control" id="company">
                  </div>
                  <div class="form-group">
                     <input type="password" placeholder="Password" data-bind="textInput: password" class="form-control" id="sign-up-password">
                  </div>
                  <div class="form-group">
                     <input type="password" placeholder="Repeat Password" data-bind="textInput: confirmPassword" class="form-control" id="sign-up-confirm-password">
                     <div class="match-pass-err"></div>
                  </div>
                  <button type="submit"  data-bind="click: submit" class="btn btn-block btn-primary">Sign up</button>
                  <button type="button" id="sign-in-btn" class="btn btn-block btn-link">Sign in here</button>
               </form>
            </div>
         </div>
      </div>
   </div>
{% endblock %}
